### Задание 1. Загрузка данных

Изучить представленный набор данных на основе описания его столбцов, загрузить его и оставить 8 столбцов для дальнейшего изучения: `surgery?`, `Age`, `rectal temperature`, `pulse`, `respiratory rate`, `temperature of extremities`, `pain`, `outcome`.

In [33]:
import pandas as pd
import numpy as np

In [34]:
data = pd.read_csv('raw.githubusercontent.com_obulygin_pyda_homeworks_master_statistics_basics_horse_data.csv',
                 header=None, sep=',', na_values=['?'])
data.head()

,0,1,2,3,4,5,6,7,8,9,...,18,19,20,21,22,23,24,25,26,27
0,2.0,1,530101,38.5,66.0,28.0,3.0,3.0,NaN,2.0,...,45.0,8.4,NaN,NaN,2.0,2,11300,0,0,2
1,1.0,1,534817,39.2,88.0,20.0,NaN,NaN,4.0,1.0,...,50.0,85.0,2.0,2.0,3.0,2,2208,0,0,2
2,2.0,1,530334,38.3,40.0,24.0,1.0,1.0,3.0,1.0,...,33.0,6.7,NaN,NaN,1.0,2,0,0,0,1
3,1.0,9,5290409,39.1,164.0,84.0,4.0,1.0,6.0,2.0,...,48.0,7.2,3.0,5.3,2.0,1,2208,0,0,1
4,2.0,1,530255,37.3,104.0,35.0,NaN,NaN,6.0,2.0,...,74.0,7.4,NaN,NaN,2.0,2,4300,0,0,2

In [35]:
df = data[[0, 1, 3, 4, 5, 6, 10, 22]]
df.columns = ['Surgery', 'Age', 'Rectal temperature', 'Pulse', 'Respiratory rate',
                      'Temperature of extremities', 'Pain', 'Outcome']
df.head()

,Surgery,Age,Rectal temperature,Pulse,Respiratory rate,Temperature of extremities,Pain,Outcome
0,2.0,1,38.5,66.0,28.0,3.0,5.0,2.0
1,1.0,1,39.2,88.0,20.0,NaN,3.0,3.0
2,2.0,1,38.3,40.0,24.0,1.0,3.0,1.0
3,1.0,9,39.1,164.0,84.0,4.0,2.0,2.0
4,2.0,1,37.3,104.0,35.0,NaN,NaN,2.0

### Задание 2. Первичное изучение данных

Проанализировать значения по столбцам, рассчитать базовые статистики, найти выбросы.

In [36]:
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 300 entries, 0 to 299
Data columns (total 8 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   Surgery                     299 non-null    float64
 1   Age                         300 non-null    int64
 2   Rectal temperature          240 non-null    float64
 3   Pulse                       276 non-null    float64
 4   Respiratory rate            242 non-null    float64
 5   Temperature of extremities  244 non-null    float64
 6   Pain                        245 non-null    float64
 7   Outcome                     299 non-null    float64
dtypes: float64(7), int64(1)
memory usage: 18.9 KB
None

In [37]:
# Расчёт базовых статистик с использованием метода describe():

stats = df.describe(include="all").applymap('{:,.2f}'.format)
stats

,Surgery,Age,Rectal temperature,Pulse,Respiratory rate,Temperature of extremities,Pain,Outcome
count,299.00,300.00,240.00,276.00,242.00,244.00,245.00,299.00
mean,1.40,1.64,38.17,71.91,30.42,2.35,2.95,1.55
std,0.49,2.17,0.73,28.63,17.64,1.05,1.31,0.74
min,1.00,1.00,35.40,30.00,8.00,1.00,1.00,1.00
25%,1.00,1.00,37.80,48.00,18.50,1.00,2.00,1.00
50%,1.00,1.00,38.20,64.00,24.50,3.00,3.00,1.00
75%,2.00,1.00,38.50,88.00,36.00,3.00,4.00,2.00
max,2.00,9.00,40.80,184.00,96.00,4.00,5.00,3.00

In [24]:
# Расчёт базовых статистик 'ручным' методом (по примеру из тренажёра):

df_max = pd.DataFrame(df_filtred.max(), columns=['Max'])

df_min = pd.DataFrame(df_filtred.min(), columns=['Min'])

df_range = pd.DataFrame(df_filtred.max() - df_filtred.min(), columns=['Range'])

df_var = pd.DataFrame(df_filtred.var().round(2), columns=['Dispersion'])

df_mean = pd.DataFrame(df_filtred.mean().round(2), columns=['Mean'])

df_median = pd.DataFrame(df_filtred.median(), columns=['Median'])

df_mode = pd.DataFrame(df_filtred.mode().iloc[0])
df_mode.rename(columns = {0 : 'Mode'}, inplace = True)

df_result = pd.concat([df_max, df_min, df_range, df_var, df_mean, df_median, df_mode], axis=1)
df_result

,Max,Min,Range,Dispersion,Mean,Median,Mode
Surgery,2.0,1.0,1.0,0.24,1.40,1.0,1.0
Age,9.0,1.0,8.0,4.73,1.64,1.0,1.0
Rectal temperature,40.8,35.4,5.4,0.54,38.17,38.2,38.0
Pulse,184.0,30.0,154.0,819.71,71.91,64.0,48.0
Respiratory rate,96.0,8.0,88.0,311.25,30.42,24.5,20.0
Temperature of extremities,4.0,1.0,3.0,1.09,2.35,3.0,3.0
Pain,5.0,1.0,4.0,1.71,2.95,3.0,3.0
Outcome,3.0,1.0,2.0,0.54,1.55,1.0,1.0

Поиск выбросов:

In [38]:
# Функция для поиска выбросов

def find_outliers(data, column):
    q1 = data[column].quantile(0.25)
    q3 = data[column].quantile(0.75)
    iqr = q3 - q1
    lower_bound = q1 - 1.5 * iqr
    upper_bound = q3 + 1.5 * iqr
    outliers = data[(data[column] < lower_bound) | (data[column] > upper_bound)]
    return outliers

In [39]:
# Поиск выбросов по столбцу 'Surgery' - делалась ли операция (возможные значения 1, 2):

print(df[(df['Surgery'] > 2.0) | (df['Surgery'] < 1.0)]['Surgery'])

Series([], Name: Surgery, dtype: float64)

In [40]:
# Поиск выбросов по столбцу 'Age' - взрослая или молодая лошадь (возможные значения 1, 2):

print(df[(df['Age']  > 2.0) | (df['Age'] < 1.0)]['Age'])

3      9
9      9
13     9
16     9
23     9
39     9
41     9
55     9
74     9
75     9
82     9
103    9
109    9
135    9
191    9
212    9
227    9
229    9
244    9
252    9
255    9
262    9
275    9
287    9
Name: Age, dtype: int64

In [41]:
# Проанализировав данные, обнаружил, что в столбце 'Age' значения '2', соответствующие 
# молодым лошадям, отсутствуют впринципе. 
# Решил заменить предположительно ошибочные данные:

df.loc[df['Age'] == 9, 'Age'] = 2
print(df[(df['Age'] != 1)]['Age'])

3      2
9      2
13     2
16     2
23     2
39     2
41     2
55     2
74     2
75     2
82     2
103    2
109    2
135    2
191    2
212    2
227    2
229    2
244    2
252    2
255    2
262    2
275    2
287    2
Name: Age, dtype: int64

In [42]:
# Поиск выбросов по столбцу 'Rectal temperature' - ректальная температура (норма - 37.8):

rectal_temp_outliers = find_outliers(df, 'Rectal temperature')['Rectal temperature']
rectal_temp_outliers

20     39.9
44     35.4
54     40.3
75     39.7
80     36.4
91     40.3
99     39.6
118    36.5
141    36.0
238    36.1
251    36.6
259    40.8
281    40.0
298    36.5
Name: Rectal temperature, dtype: float64

In [43]:
# Поиск выбросов по столбцу 'Pulse' - пульс (норма для взрослых: 30-40, у тренированных 20-25):

pulse_outliers = find_outliers(df, 'Pulse')['Pulse']
pulse_outliers

3      164.0
41     150.0
55     160.0
255    184.0
275    150.0
Name: Pulse, dtype: float64

In [44]:
# Поиск выбросов по столбцу 'Respiratory rate' - частота дыхания:

resp_rate_outliers = find_outliers(df, 'Respiratory rate')['Respiratory rate']
resp_rate_outliers

3      84.0
39     96.0
41     72.0
82     80.0
84     80.0
103    68.0
106    96.0
120    66.0
125    68.0
186    90.0
208    80.0
229    70.0
244    88.0
255    84.0
265    68.0
269    90.0
295    70.0
Name: Respiratory rate, dtype: float64

In [45]:
# Поиск выбросов по столбцу 'Temperature of extremities' - температура конечностей
# (возможные значения 1, 2, 3, 4):

print(df[(df['Temperature of extremities'] < 1.0) |
         (df['Temperature of extremities'] > 4.0)]['Temperature of extremities'])

Series([], Name: Temperature of extremities, dtype: float64)

In [47]:
# Поиск выбросов по столбцу 'Pain' - боль (возможные значения 1, 2, 3, 4, 5):

print(df[(df['Pain'] < 1.0) | (df['Pain'] > 5.0)]['Pain'])

Series([], Name: Pain, dtype: float64)

In [46]:
# Поиск выбросов по столбцу 'Outcome' - результат лечения (возможные значения 1, 2, 3):

print(df[(df['Outcome'] < 1.0) | (df['Outcome'] > 3.0)]['Outcome'])

Series([], Name: Outcome, dtype: float64)

### Задание 3. Работа с пропусками

Рассчитать количество пропусков для всех выбранных столбцов. Принять и обосновать решение о методе заполнения пропусков по каждому столбцу на основе рассчитанных статистик и возможной взаимосвязи значений в них. Сформировать датафрейм, в котором пропуски будут отсутствовать.

In [56]:
# Рассчитаем количество пропусков для каждого столбца

df.isnull().sum()

Surgery                        1
Age                            0
Rectal temperature            60
Pulse                         24
Respiratory rate              58
Temperature of extremities    56
Pain                          55
Outcome                        1
dtype: int64

In [57]:
# Рассчитаем количество пропусков для каждого столбца в %

(df.isna().mean() * 100).round(2)

Surgery                        0.33
Age                            0.00
Rectal temperature            20.00
Pulse                          8.00
Respiratory rate              19.33
Temperature of extremities    18.67
Pain                          18.33
Outcome                        0.33
dtype: float64

Путём изучения данных с точки зрения не ветеринара, а также анализа изменений в подсчётах медиан по искомым столбцам с использованием `print()` с различными группировками, пришёл к следующим результатам:

In [61]:
# Замена пропусков для 'Pain':

fill_median_by_pain = df.copy()
fill_median_by_pain['Pain'] = fill_median_by_pain['Pain'].fillna(df.groupby(['Surgery', 'Age', 'Outcome'])['Pain'].transform('median').round(0))

In [62]:
# Замена пропусков для 'Respiratory rate':

fill_median_by_resp_rate = fill_median_by_pain.copy()
fill_median_by_resp_rate['Respiratory rate'] = fill_median_by_resp_rate['Respiratory rate'].fillna(fill_median_by_pain.groupby(['Age', 'Pain'])['Respiratory rate'].transform('median'))

In [63]:
# Замена пропусков для 'Temperature of extremities':

fill_median_by_extremities_temp = fill_median_by_resp_rate.copy()
fill_median_by_extremities_temp['Temperature of extremities'] = fill_median_by_extremities_temp['Temperature of extremities'].fillna(fill_median_by_resp_rate.groupby(['Age', 'Pain', 'Outcome'])['Temperature of extremities'].transform('median').round(0))

In [64]:
# Замена пропусков для 'Pulse':

fill_median_by_pulse = fill_median_by_extremities_temp.copy()
fill_median_by_pulse['Pulse'] = fill_median_by_pulse['Pulse'].fillna(fill_median_by_extremities_temp.groupby(['Surgery', 'Age', 'Pain'])['Pulse'].transform('median'))

In [65]:
# Замена пропусков для 'Rectal temperature':

fill_median_by_rectal_temp = fill_median_by_pulse.copy()
fill_median_by_rectal_temp['Rectal temperature'] = fill_median_by_rectal_temp['Rectal temperature'].fillna(fill_median_by_pulse.groupby(['Surgery', 'Age', 'Temperature of extremities'])['Rectal temperature'].transform('median'))

In [66]:
# Замена пропусков для 'Surgery':

fill_median_by_surgery = fill_median_by_rectal_temp.copy()
fill_median_by_surgery['Surgery'] = fill_median_by_surgery['Surgery'].fillna(fill_median_by_pulse.groupby(['Age', 'Temperature of extremities', 'Pain'])['Surgery'].transform('median').round(0))

In [72]:
# Замена пропусков для 'Outcome':

dataframe_without_spaces = fill_median_by_surgery.copy()
dataframe_without_spaces['Outcome'] = dataframe_without_spaces['Outcome'].fillna(fill_median_by_surgery.groupby(['Surgery', 'Age', 'Pain'])['Outcome'].transform('median').round(0))

In [73]:
# Итоговый DataFrame:

dataframe_without_spaces

,Surgery,Age,Rectal temperature,Pulse,Respiratory rate,Temperature of extremities,Pain,Outcome
0,2.0,1,38.5,66.0,28.0,3.0,5.0,2.0
1,1.0,1,39.2,88.0,20.0,3.0,3.0,3.0
2,2.0,1,38.3,40.0,24.0,1.0,3.0,1.0
3,1.0,2,39.1,164.0,84.0,4.0,2.0,2.0
4,2.0,1,37.3,104.0,35.0,3.0,4.0,2.0
...,...,...,...,...,...,...,...,...
295,1.0,1,38.4,120.0,70.0,4.0,2.0,3.0
296,2.0,1,37.2,72.0,24.0,3.0,4.0,3.0
297,1.0,1,37.5,72.0,30.0,4.0,4.0,2.0
298,1.0,1,36.5,100.0,24.0,3.0,3.0,1.0
299,1.0,1,37.2,40.0,20.0,3.0,4.0,3.0